body {
    background: #3c5d96;
    font-family: Georgia, Palatino, serif;
    color: #EEE;
}

#Title {
	margin-left: auto;
	margin-right: auto;
	width: intrinsic;
	text-decoration: underline;
}


#Matrix {
	margin: auto;
	width: intrinsic;
	height: 100%;
}

.Column {
	margin-right: -4px;
	width: 190px;
	display: inline-block;
	height: 100%;
	vertical-align:middle;
}

.Title {
	border-bottom: 1px solid white;
	text-align: center;
}

a {
	text-decoration: none;
	color: #EEE;
	font-family: Georgia, Palatino, serif;
}

.Link {
	padding: 10px;
	margin: auto;
	height: 100px;
	width: 100px;
	background-color: #042029;
	text-align: center;
	padding-bottom: 15px;
	box-shadow: 10px 10px 5px #333333;
	border-radius: 15px;
}

.Link img {
	border-radius: 15px;
	margin-bottom: -10px;
}

.Link:hover{
	box-shadow: 0px 0px 4px #EEE;
}










